<!DOCTYPE html>
<html>
  <head>
    <title>Career Odyssey</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}

    <div class="container">
      <h1 class="text-center mt-2 mb-4"">DreamForge Careers</h1>
      <div class="row" style="margin-bottom:16px;">
        <div class="col-md-6">
      <p> This  Website is a dynamic platform designed to connect job seekers with meaningful opportunities. Beyond listing open positions, it offers insights into the company’s culture, values, and work environment. The site is user-friendly, with intuitive navigation and features that simplify the job search and application process.

        Through this platform, the organization aims to attract top talent and build lasting relationships by showcasing a workplace where innovation and growth are key. Whether you’re starting your career or looking for a new challenge, the Career Website is your gateway to discovering the right opportunity.
      </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img  src="https://210b50c1-aa1c-4d02-988c-7f1b78887002-00-23ks6my1wybie.pike.replit.dev/static/banner.jpeg" style="height:320px;border-radius:10px;">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4"">Job Openings</h2>
      <div>
        {% for job in jobs %}
        {% include 'jobitems.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
        <a class="btn btn-primary btn-lg">Contact Us</a>
      </div>
      </div>
    {% include 'footer.html' %}
  </body>
</html>